/* Nornix TreeMenu stylesheet */
/* Default theme */

/* container for the menu */
.menu
{
	width: 50em;
	padding: 0 0 5px 0.75em;
	position: relative;
	font: normal 0.875em/1.3 Corbel, Helvetica, Arial, sans-serif !important;
}

/* icons for opening/closing all folders */
.closeTree, .openTree, a.closeTree:hover, a.openTree:hover,
a.closeTree:link, a.openTree:link, a.closeTree:active, a.openTree:active
{
	display: block;
	position: absolute;
	right: 13ex;
	top: 0;
	height: 24px;
	width: 24px;
	/*background: transparent url(nornix-close-icon.png) 3px 3px no-repeat;*/
	cursor: pointer;
	border: none;
}

.openTree, a.openTree:hover, a.openTree:link, a.openTree:active
{
	right: 8.2ex;
	/*background-image: url(nornix-open-icon.png);*/
}


/* clean up defaults */
.menu ul, .menu li, .menu a
{
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	list-style: none outside none;
}
.menu li
{
	background-image: none !important;
}
.menu ul
{
	margin-left: 8px !important;
	position: relative;
}

/* common <li> settings */
.menu li
{
	position: relative !important;
	border-left: 1px solid #bbbbbb !important;
	padding-left: 12px !important;
	background: url(nornix-treemenu-line.png) 0 10px no-repeat !important;
}

/* get the line right on the last item (when no class is set) */
.menu ul li:last-child
{
	border-left: none !important;
	padding-left: 13px !important; /* compensate the 1px border */
	background: url(nornix-treemenu-corner.png) 0 0 no-repeat !important;
}

/* same as above, but with a class set */
.menu ul li.last
{
	border-left: none !important;
	padding-left: 13px !important; /* compensate the 1px border */
	background: url(nornix-treemenu-corner.png) 0 0 no-repeat !important;
}

/* hide content of folders */
.menu li.folder > ul
{
	display: none !important;
}

/* show content of folder, when class "open" is set */
.menu li.folder.open > ul
{
	display: block !important;
}

/* display toggle icon, default to closed state */
.menu li.folder > span
{
	display: block !important;
	position: absolute !important;
	left: -8px !important;
	top: 3px !important;
	height: 15px !important;
	width: 15px !important;
	background: url(nornix-plus-node.png) 3px 3px no-repeat !important;
	cursor: pointer !important;
}

/* set toggle icon for open state */
.menu li.open > span
{
	background-image: url(nornix-minus-node.png) !important;
}

/* position toggle icon on last element */
.menu li.last > span
{
	left: -7px !important;
}

/* display marker on current item */
.menu a.current span
{
	display: block !important;
	position: absolute !important;
	left: 22px !important;
	top: 3px !important;
	height: 13px !important;
	width: 14px !important;
	background-image: url(nornix-treemenu-current.png) !important;
}

/* set default values for <a> elements */
.menu li a, .menu a.root, .menu li a.current
{
	display: block !important;
	padding-left: 24px !important;
	min-height: 18px !important;
	border: none !important;
	color: #000000 !important;
	text-decoration: underline !important;
	background: url(nornix-doc-node-icon.png) no-repeat !important;
	background-position: 2px 2px !important;
}

/* if the class is "closed", then it's a folder, too */
.menu li.closed > a
{
	background-image: url(nornix-folder-closed-icon.png) !important;
	background-position: 0 2px !important;
}

/* menu folder in open state */
.menu li.open > a
{
	background-image: url(nornix-folder-open-icon.png) !important;
	background-position: 0 2px !important;
}

/* change properties for <a> elements with the href attribute set
-- the current page will not have a href value */
.menu a:link, .menu a:active, .menu a:visited
{
	color: #000000 !important;
	text-decoration: none !important;
}

.menu a:hover{
	color: #0b69ab !important;
	text-decoration: none !important;
}

/* change icon and some settings on the root element of the menu */
body .menu a.root
{
	min-height: 20px !important;
	background: url(nornix-treemenu-current.png) 0 0 no-repeat !important;
	width: 95ex !important;
	margin-bottom: -1px !important;
}

/* :hover styling on <a> elements */
.menu a:hover, .menu li.folder a:hover, .menu ul li.open > a:hover
{
	text-decoration: underline !important;
}

.menu a:active, .menu a.root:active
{
	background-color: #e8e8e8 !important;
}

.menu a:focus, .menu a.root:focus
{
	background-color: #e8e8e8 !important;
}

.divArea {
    font-family:Helvetica, Arial, sans-serif;
    font-size:12px;
    color:#0b69ab !important;;
    border-width:1px;
    border-style:solid;
    border-color:gray;
}